
body {
	background-color: darkorange;
	)
	
}
.titulo{
	text-align: center;
}

.img{
	text-align: center;

}
.alinear li{
	width: 150px;
	text-align: center;
	margin: 50px;
}
.nav-pills{
	text-align: center;
}
#inicio{
	width: 90%;
	height: 500px;
	border:1px solid black;
	margin:auto;
}
#quien{
	width: 90%;
	height: 500px;
	border:1px solid black;
	margin:auto;
}
#precio{
	width: 90%;
	height: 500px;
	border:1px solid black;
	margin:auto;
}