
body {
	background-color: darkorange;
	)
	
}
.titulo{
	text-align: center;
}

.img{
	text-align: center;

}
.alinear li{
	width: 150px;
	text-align: center;
	margin: 50px;
}
.nav-pills{
	text-align: center;
}

